#!/usr/bin/env bash

# Automatically activate devenv when entering this directory
# This requires direnv to be installed and configured in your shell
# See: https://direnv.net/docs/installation.html

# Load devenv
if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

use devenv

# Suppress PS1 warning
unset PS1
